<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
	<appSettings>
		 	<!--<add key="smtpHost" value="#{smtpHost}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
		 	<add key="SecurityDirectory" value="#{SecurityDirectory}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		
	</appSettings>

	<connectionStrings>
		<add name="DBConnSelect" connectionString="#{DBConnSelect}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="LogConnection" connectionString="#{LogPath}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	
	</connectionStrings>
	
	<oracle.manageddataaccess.client>
		<version number="*">
			<settings>
				<setting name="tns_admin" value="C:\oracle64\product\11.2.0\client_1\network\admin"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
			</settings>
		</version>
	</oracle.manageddataaccess.client>

	<log4net>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<file value="D:\Logs\Reservations\INFO"/>
			<datePattern value="-dd.MM.yyyy'.txt'"/>
			<staticLogFileName value="false"/>
			<appendToFile value="true"/>
			<rollingStyle value="Composite"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="30MB"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level [ %line - %class{1}.%method ] - %message%newline"/>
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO"/>
			</filter>
		</appender>
		<appender name="FatalError" type="log4net.Appender.RollingFileAppender">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<file value="D:\Logs\Reservations\ERROR"/>
			<datePattern value="-dd.MM.yyyy'.txt'"/>
			<staticLogFileName value="false"/>
			<appendToFile value="true"/>
			<rollingStyle value="Composite"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="30MB"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level [ %line - %class{1}.%method ] - %message%newline"/>
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="ERROR"/>
			</filter>
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="ERROR"/>
			</evaluator>
		</appender>
		<root>
			<appender-ref ref="FatalError"/>
			<appender-ref ref="FileAppender"/>
		</root>
	</log4net>
	
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
