

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}



/* Navbar background colour */
.navbar-default {
    background-color: #DB4437;
    border-color: #ffffff;
}

.navbar-default1 {
    background: rgba(255,255,255,0.9);
    
}

.button-color {
    background-color: #DB4437;
}
