
@{
    ViewBag.Title = "BasicException";
    Layout = "~/Views/_LayoutUsers.cshtml";
}
@using (Html.BeginForm())
{
    <br />
    <div class="container text-center">
        <img src="~/Images/ucb.logo.jpg" />
    </div>

    <br />
    <div class="container border text-center">
        <br />
        <h6>Настана грешка при зареждане на страницата</h6>
        <p>Моля опитайте отново...</p>

    </div>
    <br />
    <div class="container text-center">
        <div class="form-btn">
            <input class="submit-btn btn btn-outline-success btn-lg" name="button" type="submit" value="Към търсачка" />
        </div>
    </div>
}

